{% extends "base.html" %}

{% block title %}Confirm Vote{% endblock %}

{% block head %}
<link href="{{ MEDIA_URL }}css/vote.css" rel="stylesheet" type="text/css" media="all />
{% endblock %}

{% block content %}

<div id="vote_box"><div id="vote_cbox_content">
You are about to vote for 
<div id="keyword_txt">{{ keyword }}</div>
in the poll <b>{{ poll.title }}</b>.
<p>
	<form action="" method="post">
	{% csrf_token %}
	{{ form.as_p }}
	<input id="vote_btn" type="submit" value="Vote!">
Please click "Vote!" to cast your vote.
</form>
</div></div>
{% endblock %}
